.c-team__image {
  height: 100vh;

  filter: grayscale(70%);
  margin-top: -120px;
  margin-left: -45px;
}

.c-team, 
.c-player {
  overflow: hidden;
  height: 50vh;
  position: relative;
}

.c-player__image {
  width: 150vw;
  filter: brightness(90%);
}

.c-team__heading,
.c-player__heading {
  position: absolute;
  z-index: 100;
  top: 50%;
  color: white;
  font-size: 4em;
}

@media screen and (min-width: 300px) {
  .c-team-player {
    // background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    // align-content: center;
    flex-direction: column;
  }

  .c-team__image {
    width: 500px;
    height: 700px;
    margin: 0px;
  }
  .c-player__image {
    width: 500px;
  }
}